<div id="<%= dom_id order %>">
 <p>
    <strong>Order#:</strong>
    <%= order.id %>
  </p>

  <p>
    <strong>Created on:</strong>
    <%= order.created_at %>
  </p>

  <p>
    <strong>Products:</strong>
    <% order.products.each do |p|%>
      <br><%= link_to "Product:#{p.name}", Product.find(p.id) %><br>
    <% end%>
  </p>

  <p>
    <strong>Taxes:</strong>
    <%= "$#{order.taxes}" %>
  </p>

  <p>
    <strong>GrandTotal:</strong>
    <%= "$#{order.grandTotal}" %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order.quantity %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= link_to Customer.find(order.customer_id).name,  Customer.find(order.customer_id) %>
  </p>

</div>
