<p style="color: green"><%= notice %></p>

<h1>Products</h1>


<%= page_entries_info @products%>
<%= paginate @products%>

<%# Search form %>
  <%= form_with(url: '/products', method: 'get', local: true) do  |f|%>
    <%= f.label :product%>
    <%= text_field_tag(:product) %>
    <%= f.label :category%>
    <%= f.select :category, options_for_select(@categories), include_blank: true %><br><br>
    <%= submit_tag("Search") %>
  <% end %>
  <% if params[:product]%>
    <%= "Search term: #{params[:product]}"%>
  <% end%>


<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
